@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

body {
    font-family:Pangolin;
    margin: 0;
    padding: 5px 0;
    background-color: #e9e7e7;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.header-home, 
.header-about, 
.header-contact, 
.main-home, 
.main-about, 
.main-contact {
    display: flex;
    justify-content: start;
    padding: 1%;
}

.image-content img {
    width: fit-content;
    max-width: 150px;
    
}


.about-content {
    width: 50vw;
}

.contact-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 2rem;
}

