@import url("https://fonts.googleapis.com/css2?family=Pangolin&display=swap");

/** Generales */
:root {
    --bg-color-light-gray: #e9e7e7;
    --bg-color-light: white;
    --bg-color-dark: black;
    --font-color1: #464444;
    --font-color2: #757171;
    --font-color3: #484e83;
    --font-color4: #0c22e7;
    --border-color: #e9e7e7;
    --transition: transform 0.5s ease-in;
}

* {
    margin: 0;
    padding: 0;
    font-family: Pangolin;
    letter-spacing: 1px;
}

.container {
    width: 80vw;
    margin: 5px auto;
    position: relative;
}

.header-home,
.header-about {
    height: 16rem;
    width: 100%;
    position: relative;
    margin-top: 6rem;
    top: 0;
}

.bground {
    background-image: linear-gradient(#0f0355d2, #71e7eb96),
        url("../img/design1_image1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.image-content .logo {
    position: absolute;
    left: 0;
    bottom: -13rem;
    width: fit-content;
    max-width: 150px;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    transition: var(--transition);
    z-index: 2;
    background-color: var(--bg-color-light);
}

.image-content .logo:hover {
    transform: scale(1.1);
}

.subtitle {
    position: absolute;
    bottom: 0;
    color: var(--bg-color-light-gray);
    background-color: var(--bg-color-dark);
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

.main-home,
.main-about,
.main-contact {
    display: flex;
    padding: 1rem;
    gap: 3rem;
}

h1 {
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 2px;
    color: var(--bg-color-light);
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: var(--bg-color-light);
}

p,
span {
    color: var(--font-color2);
    font-size: 1rem;
}

.header-home h1 {
    position: absolute;
    color: var(--font-color1);
    top: -4rem;
}

.header-about h1 {
    position: absolute;
    color: var(--font-color1);
    top: -4rem;
}

.header-contact h1 {
    position: absolute;
    color: var(--font-color1);
    top: -4rem;
}

/** Navegacion */
.nav-content {
    display: flex;
    position: absolute;
    top: -0.5rem;
    right: 1rem;
    z-index: 2;
}

.nav-links {
    width: max-content;
    gap: 2rem;
}

.nav-links a {
    margin-right: 0.5rem;
    color: var(--font-color3);
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    border: 1px solid var(--font-color1);
    padding: 5px 30px;
    background-color: var(--bg-color-dark);
    border-radius: 5px;
    color: var(--bg-color-light);
    transition: all 0.5s ease-in;
    flex: 0.5;
    text-align: center;
}

.nav-links a:hover {
    color: var(--bg-color-light);
    background-color: var(--font-color4);
    border: 1px solid var(--bg-color-light);
}

/** Home */
.home-list {
    display: flex;
    justify-content: flex-end;
    margin-left: 15rem;
    margin-top: 1rem;
    gap: 5rem;
}

.home-list li {
    list-style: none;
    line-height: 1.5rem;
    padding: 3px 0;
}

.home-list h4 {
    color: var(--bg-color-dark);
    font-weight: 800;
    font-style: italic;
    font-weight: 100;
    font-size: 16px;
}

.home-list p {
    margin-left: 30px;
    color: var(--font-color1);
}

/** About */
.about-content {
    text-align: justify;
    margin-top: 0.5rem;
    margin-left: 15rem;
}

.about-content h3 {
    color: var(--font-color1);
    padding: 1rem 0;
}

/** Contact */
.contact-content {
    display: flex;
    flex-direction: column;
    margin-left: 15rem;
    padding-top: 3rem;
    justify-content: center;
    line-height: 3rem;
}

.email {
    text-decoration: none;
    color: var(--font-color3);
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    transition: all ease-in 0.5s;
}
.email:hover {
    color: var(--bg-color-dark);
    font-size: 1.1rem;
}
